*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    width: 100dvw;
    height: 100dvh;
    background: cyan;

}
.container {
    place-self: center;
    position: relative;
    width: 600px;
    height: 300px;
    cursor: pointer;
    border: 2px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
}

.prize-image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

#scratchCanvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}